body {
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    width: 550px;
    height: 300px;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    position: relative;
}

.one,
.two {
    background-color: #EEE;
    width: calc(50% - 50px);
    height: 280px;
    position: absolute;
}

.one {
    top: 10px;
    left: 16px;
}

.two {
    top: 10px;
    right: 16px;
}

.far, .han {
    position: absolute;
    background-color: #03a9f4;
    width: calc(80%);
    height: 45px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    font-weight: bold;
    font-size: 20px;
    top: 13px;
    left: 22px;
    text-align: center;
    line-height: 45px;
    color: white;
}

.dal, .bh {
    position: absolute;
    width: 185px;
    height: 185px;
    background-color: #DDD;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: bold;
    font-size: 30px;
    top: 80px;
    left: 22px;
    text-align: center;
    line-height: 185px;
}

.one::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 280px;
    background-color: #03a9f4;
    top: 0px;
    left: 261px;
}

.two::before {
    content: "or";
    position: absolute;
    color: white;
    background-color: #03a9f4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* top: calc(50% - 20px); */
    top: 125px;
    left: -47px;
    line-height: 30px;
}