/* التكليف 01 */
.one1,
.one2,
.one3 {
    width:  300px;
    height: 60px;
    margin: 20px auto;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 60px;
    background-color: #eee;
}

.one2:empty {
    background-color: red;
}

/* التكليف 02 */

.hanon {
    background-color: #ddd;
    width:fit-content;
    text-align: center;
    margin:  auto;
    padding: 20px;
    position: relative;
    counter-increment: dalia;
}

.hanon::before {
    content: counter(dalia);
    position: absolute;
    left: -15px;
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    top: 10px;
}

hr {
    margin: 20px auto;
}

/* التكليف 03 */

.fares {
    background-color: #eee;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-left:5px solid #e91e63;
    position: relative;
}

.fares::before {
    content: attr(data-person);
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: #eee;
    top: calc(50% - 20px);
    left: -107px;
    text-align: center;
    line-height: 40px;
}

.fares::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent #e91e63 transparent transparent;
    border-style: solid;
    border-width: 13px;
    top: calc(50% - 13px);
    left: -27px;
}

/* التكليف 04 */
.doda {
    background-color: #eee;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-right:5px solid rgba(240, 14, 14, 0.89);
    position: relative;
    counter-increment: something;
}

.doda::before {
    content: counter(something);
    position: absolute;
    left: -40px;
    background-color: rgba(240, 14, 14, 0.89);
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    top: -1px;
}
